{% extends 'base.html' %}

<!-- {% load humanize %} -->


{% block title %}
    {{ block.super }} - Change Password
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Change Password</li>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            
          </div>
          <div class="card-body">
          	<div class="col-md-8">
	            <h3 class="card-title">Change Password</h3>
	            <form method="post" novalidate>
	              {% csrf_token %}
	              <input type="hidden" name="next" value="{{ next }}">
	              {% include 'includes/form.html' %}
	              <div class="row">
		            <div class="update ml-auto mr-auto">
		              <button type="submit" class="btn btn-primary btn-round">Change Password</button>
		            </div>
		           </div>
	            </form>
	        </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
       $('#password_change').addClass('active');
    </script>
{% endblock %}