{% extends 'base.html' %}

<!-- {% load humanize %} -->


{% block title %}
    {{ block.super }} - View Disease
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">View Disease</li>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            
          </div>
          <div class="card-body">
            <form id="searchform" action="{% url 'search' %}" method="GET">
			  <div class="input-group">
	            <input name="q" class="form-control py-2 border-right-0 border searchfield" type="search" placeholder="Symptom Checker ..." id="searchbox" value="{{ value.GET.q }}">
	            <span class="input-group-append">
	              <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
	            </span>
	            <button type="submit">Search</button>
		      </div>
            </form>
            <br>
            <br>
            <hr>
            <!--  End Search Form  -->
            <table class="table table-striped">
	          <thead class="thead-dark">
	            <tr>
	              <th>Disease Name</th>
	              <th>Doctor</th>
	              <th>Views</th>
	            </tr>
	          </thead>
	          <tbody>
	            {% for disease in diseases %}
	              <tr>
		            <td>
		              <a class="text-dark" href="{% url 'singledisease' disease.symptom.pk disease.pk %}">
		                 {{ disease.disease_name }}
		              </a>
		            </td>
			        <td>{{ disease.count }}</td>
			        <td>{{ disease.views }}</td>
	              </tr>
	            {% endfor %}
	          </tbody>
		    </table>
		    <!-- End Table  -->

          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
    </script>
{% endblock %}